.bgc-green {
    background-color: var(--main-green);
}

.bgc-red {
    background-color: var(--main-red);
}

.clear-link {
    text-decoration: none;
}

.clear-list {
    list-style: none;
}

.flex-center {
    align-items:     center;
    display:         flex;
    flex-direction:  column;
    justify-content: center;
}

.margin-top {
    margin-top: 14vh;
}

.margin-bottom {
    margin-bottom: 14vh;
}

.mon {
    margin:  0;
    padding: 0;
}

.presentation {
    background-size:     100%, 70rem;
    background-repeat:   no-repeat;
    margin:              0rem;
    padding:             10rem 0;
}

.presentation-grid {
    column-gap:            1rem;
    display:               grid;
    grid-template-columns: repeat(1, 1fr);
}

.presentation-text {
    color:        var(--main-white);
    padding:      0 3rem;
    text-align:   justify;
}

.presentation-text-right {
    color:        var(--main-white);
    grid-column:  1/2;
    padding:      0 3rem;
    text-align:   justify;
}

.presentation-text-left {
    color:        var(--main-white);
    grid-column:  2/3;
    padding:      0 3rem;
    text-align:   justify;
}

.second-title {
    text-align:    center;
    margin-bottom: 4rem;
    color:         var(--main-black);
    font-size:     var(--l);
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-color-white {
    color: var(--main-white);
}

.text-margin {
    margin: 4rem;
}

.title-main-presentation {
    display:    block;
    font-size:  var(--extra-large);
    height:     12rem;
    margin:     0 0 2rem 0;
    padding:    4rem 0 0 0;
    text-align: center;
    width:      100%;
}

/**************************************************************************/
/************************* Hero, Nav and Sidemenu *************************/
/**************************************************************************/

/* Main nav */

.main-nav {
    background-color:      var(--main-black);
    color:                 var(--main-white);
    display:               grid;
    font-size:             var(--large);
    gap:                   4rem;
    grid-template-columns: repeat(2, 1fr);
    height:                0;    
    position:              fixed;
    top:                   0;
    width:                 100%;
    z-index:               1000;
}

.button-clicked {
    align-items:     center;
    display:         flex;
    justify-content: flex-start;
}

.button-clicked i {
    background-color: var(--main-black);
    border-radius:    100%;
    display:          block;
    margin-left:      2rem;
    margin-top:       1rem;
    padding:          1rem;
}

.icon-align-justify {
    transition:       all 0.16s linear;
}

.icon-align-justify:hover {
    cursor: pointer;
}

.icon-align-justify:active {
    transform: rotate(180deg);
}

.main-nav ul {
    display:         none;
    justify-content: space-around;
    align-items:     center;
}

.main-nav a {
    border-bottom: solid var(--main-black) 0.4rem;
    color:         var(--main-white);
    display:       block;
}

.main-nav a:hover {
    border-bottom: solid var(--main-white) 0.4rem;
}

/* .icon */

/* Hero */

.hero-container-index {
    background-color: var(--main-green);
    /* background-image:    url('../img/jpg/forest.jpg'); */
}

.hero-container-us {
    background-color: var(--main-red);
    /* background-image:    url('../img/jpg/people.jpg'); */
}

.hero-container-contact {
    background-color: var(--main-green);
    /* background-image:    url('../img/jpg/forest_3.jpg'); */
}

.hero-container {
    background-position: center/center;
    background-repeat:   no-repeat;
    background-size:     cover;    
    height:              62vh;
    margin:              0;
    padding:             0;
    width:               100%;
}

.hero-image {
    align-items:      center;
    background-color: rgba(0, 0, 0, 0.3);
    display:          flex;
    height:           100%;
    justify-content:  center;
}

.hero-img-first {
    display: none;
}

.hero-img-second {
    display: block;
}

.hero-image img {
    height:     46vh;
    margin-top: 4rem;
    width:      60vw;
}

/* Sidebar Menu */

.sidebar-menu.active {
    top: 0;
}

.sidebar-menu {
    background-color: var(--main-black);
    color:            var(--main-white);
    height:           44rem;
    /* left:             -22vw; */
    position:         fixed;
    top:              -44rem;
    transition:       all 1s ease-in-out;
    width:            100vw;
} 

.lateral-nav {
    align-items:     center;
    display:         flex;
    flex-direction:  column;
    gap:             0rem;
    justify-content: center;
    margin-top:      2rem;
}

.logo-lateral-menu {
    border-radius: 50%;
    height:        8rem; 
}

.menus {
    align-items:    center;
    border-top:     0.1rem solid var(--main-white);
    display:        flex;
    flex-direction: column;
    margin-top:     4rem;
    width:          100%;
}


.lateral-menu,
.sublateral-menu  {
    align-items:    center;
    display:        flex;    
    flex-direction: column;
    gap:            0rem;
    margin-top:     0rem;
    padding-top:    0rem;
    width:          100%;
}

.lateral-menu {
    margin-top: 2rem;
}

.lateral-menu a, 
.sublateral-menu a {
    color:      var(--main-white);
    display:    block;
    font-size:  var(--medium);
    padding:    0; 
    margin:     0;
    height:     100%;
    width:      100%;
    transition: all 0.2s linear;
}

.lateral-menu a:hover, 
.sublateral-menu a:hover {
    /* background-color: var(--main-white); */
    /* color:            var(--main-black); */
}


/******************************************************/
/************************* Us *************************/
/******************************************************/

.us-presentation {
    /* background-image:    linear-gradient(to left, transparent 50%, 50%, var(--main-red) 100%), url('../img/jpg/products-start.jpg'); */
    /* background-position: right center; */
    background-color: var(--main-red);
}

.mision-presentation {
    /* background-image:    linear-gradient(to right, transparent 50%, 50%, var(--main-green) 100%), url('../img/jpg/products-start.jpg'); */
    /* background-position: left center; */
    background-color: var(--main-green);
}

.vision-presentation {
    /* background-image:    linear-gradient(to left, transparent 50%, 50%, var(--main-red) 100%), url('../img/jpg/products-start.jpg'); */
    /* background-position: right center; */
    background-color: var(--main-red);
}

.method-presentation {
    /* background-image:    linear-gradient(to right, transparent 50%, 50%, var(--main-green) 100%), url('../img/jpg/products-start.jpg'); */
    /* background-position: left center; */
    background-color: var(--main-green);
}


/************************************************************/
/************************* Products *************************/
/************************************************************/


.product-presentation {
    /* background-image:    linear-gradient(to right, transparent 50%, 50%, var(--main-green) 100%), url('../img/jpg/products-start.jpg'); */
    /* background-position: left center; */
    /* background-repeat:   no-repeat; */
    /* background-size:     cover;    */
    background-color: var(--main-green);
}

/* Products */

.section-products {
    align-items:     center;
    display:         flex;
    justify-content: center;
    margin-top:      10rem;
}

.products-container {
    display:               grid;
    gap:                   8rem;
    grid-template-columns: repeat(1, 1fr);
    width:                 85%;
}

.product-container {
    border-radius: 4rem 0 4rem 0;
    box-shadow:    1rem 1rem 2rem var(--main-black);
    margin-top:    4rem;
    width: 100%;
}

.product-title {
    align-items:     center;
    border-radius:   4rem 0 0 0;
    color:           var(--main-white);
    display:         flex;
    height:          14rem;
    justify-content: center;
    padding:         0 2rem;
    text-align:      center;
}

.product-image {
    align-items:     center;
    display:         flex;
    justify-content: center;
    margin:          2rem 0;
    /* width:           100%; */
}

.product-image img {
    height: 40vh;
}

.product-box {
    width: 100%;    
}

.product-text {
    align-items:     center;
    border-radius:   0 0 4rem 0;
    color:           var(--main-white);
    display:         flex;
    flex-direction:  column;
    height:          56rem;
    justify-content: center;
    padding:         2rem 4rem;
} 

.product-link a {
    background-color: var(--main-black);
    border-radius:    4rem 0;
    color:            var(--main-white);
    display:          block;
    margin-bottom:    1rem;
    margin-top:       4rem;
    padding:          1rem 2rem;
    transition:       all 0.3s linear;
}

.product-link a:hover {
    transform: scale(1.1);
}

.product-link a:active {
    transform: scale(0.9);
}

/* Product */

.product-info-container {
    background-color: var(--complementary-one);
    border-radius:    4rem 0 4rem 0;
    box-shadow:       1rem 1rem 2rem var(--main-black);
    margin:           20rem 4rem 0 4rem;
    padding:          10rem 2rem;
}

.product-image-container {
    align-items:     center;
    display:         flex;
    justify-content: center;
    margin:          5rem auto;
    /* margin:          10rem auto; */
    
}

.product-image-container img {
    border-radius: 1rem;
    box-shadow:    1rem 1rem 2rem var(--main-black);
    height:        14rem;
    /* height: 80vh; */
}


/*********************************************************/
/************************* Q & A *************************/
/*********************************************************/

.section-qa {
    padding: 0 2rem;
    width:   100%;
}

.qa {
    display:         flex;
    flex-direction:  column;
    gap:             4rem;
    justify-content: center;
    margin:          10rem auto;
    padding:         4rem;
}

.qa-green {
    background-color: transparent;
    border-radius:    4rem 0;
    box-shadow:       1rem 1rem 2rem transparent;
    color:            var(--main-black);
    transition:       all 0.3s linear;
}

.qa-green:hover {
    background-color: var(--main-green);
    border-radius:    4rem 0;
    box-shadow:       1rem 1rem 2rem var(--main-black);
    color:            var(--main-white);   
}

.qa-red {
    background-color: transparent;
    border-radius:    4rem 0;
    box-shadow:       1rem 1rem 2rem transparent;
    color:            var(--main-black);
    transition:       all 0.3s linear;
}

.qa-red:hover {
    background-color: var(--main-red);
    border-radius:    4rem 0;
    box-shadow:       1rem 1rem 2rem var(--main-black);
    color:            var(--main-white);    
}

.question {
    align-items: flex-start;
    display:     flex;
    margin:      0; 
}

.ql {
    flex-direction: row;
}

.qr {
    flex-direction: row-reverse;
}


/********************************************************/
/************************* Blog *************************/
/********************************************************/

.blog-list {
    align-items:     center;
    display:         flex;
    flex-direction:  column;
    gap:             8rem;
    justify-content: center;
    margin:          10rem auto;
    width:           100%;
}

.blog-element-list {
    align-items:     center;
    border-radius:   4rem 0 4rem 0;
    display:         flex;
    flex-direction:  column;
    gap:             4rem;
    justify-content: space-around;
    padding:         4rem 2rem;
    transition:      background-color 0.4s linear;    
    width:           80%;
}

.blog-element-list:hover {
    background-color: var(--complementary-one);
    border-radius:    4rem 0 4rem 0;
    box-shadow:       1rem 1rem 2rem var(--main-black);
}

.blog-element-title {
    margin: 4rem 0;
    text-align: center;
}

.image-shadow {
    border-radius: 1rem;
    box-shadow:    1rem 1rem 2rem var(--main-black);
}

.blog-element-image img {
    height:        20rem;
    width:         100%;
}

.blog-element-description {
    display:        flex;
    flex-direction: column;
    text-align:     justify;
    width:          100%;

}

.blog-element-description a {
    color:         var(--main-black);
    display:       block;
    font-weight:   bold;
    margin:        0;
    padding:       0 2rem 0 0;
    text-align:    end;
}

.blog-element-description span {
    border-bottom: solid transparent 0.4rem;
    padding:       0.4rem;
}

.blog-element-description span:hover {
    border-bottom: solid var(--main-black) 0.4rem;
    padding:       0.4rem;
}

.blog-element-category {
    align-items:     center;
    display:         flex;
    flex-direction:  column;
    justify-content: center;
    margin-top:      2rem;
    text-align:      left;
}

.blog-element-category a {
    border-bottom: solid transparent 0.4rem;
    color:         var(--main-black);
    display:       block;
    font-style:    italic;
    font-weight:   lighter;
    margin:        1rem;
    padding:       0.4rem;
}

.blog-element-category a:hover {
    border-bottom: solid var(--main-black) 0.4rem;    
    margin:        1rem;
    padding:       0.4rem;
}

/* Post */
.post-image img {
    height: 40rem;
}


/***********************************************************/
/************************* Contact *************************/
/***********************************************************/

.title-contact {
    margin: 8rem auto;
}

/* Social Modal */

.modal-container {    
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 1000;
}

.modal-container-card {
    background-color: var(--complementary-two);
    border-radius:    4rem 0 4rem 0;
    box-shadow:       1rem 1rem 2rem var(--main-black);
    margin: 0 auto;
    padding: 4rem;
    height: 86vh;
    width: 36%;
}

.modal-container-info-active {
    align-items: center;
    display: flex;
    height: 70vh;
    flex-direction: column;
    justify-content: space-around;
}

.modal-container-info {
    align-items: center;
    display: none;
    height: 70vh;
    flex-direction: column;
    justify-content: space-around;
}

.modal-container-info-active h3 {
    color: var(--main-green);
    font-size: var(--lll);
}

.modal-container-info-active p {
    text-align: justify;
    color: var(--main-green);
}

.modal-container-info-active a {
    color: var(--main-green);
    border-bottom: solid transparent 0.4rem;
    display:       block;
    font-style:    italic;
    font-weight:   lighter;
    margin:        1rem;
    padding:       0.4rem;
}

.modal-container i {
    color: var(--main-red);
    font-size: 8rem;
    margin: 4rem auto;
}

.modal-container i:hover {
    cursor: pointer;
}


.modal-close {
    color: var(--main-green);
    border-bottom: solid transparent 0.4rem;
    display:       block;
    font-style:    italic;
    font-weight:   lighter;
    margin:        1rem;
    padding:       0.4rem;
}

.modal-container-info-active a:hover,
.modal-close:hover {
    cursor: pointer;
    border-bottom: solid var(--main-green) 0.4rem;    
    margin:        1rem;
    padding:       0.4rem;
}

/* Social Grid */

.social-grid-container {
    align-items:           center;
    display:               grid;
    gap:                   8rem;
    grid-template-columns: repeat(3, 1fr);
    justify-items:         center;
    margin:                0 auto;
    padding:               8rem 6rem;
    width:                 80%;
}

.social-grid-card i {
    color: var(--main-black);
    font-size: 12rem;
}

.social-grid-card i:hover {
    cursor: pointer;
}


/* Form */

.btn {
    background-color: var(--main-green);
    border-color:     transparent;
    border-radius:    3rem 0;
    color:            var(--main-white);
    display:          block;
    font-size:        var(--large);
    margin-top:       2rem;
    padding:          1.2rem 4rem;
    transition:       color 0.4s linear, background-color 0.4s linear;    
}

.container-forms {
    align-items:     center;
    display:         flex;
    flex-direction:  column;
    gap:             4rem;
    justify-content: center;
    margin-top:      6rem;
    width:           90%;
}

.btn:hover{
    /* background-color: var(--main-green); */
    /* border-radius:    3rem 0; */
    /* color:            var(--main-white); */
}

.btn:active{
    transition: scale(0.9);
}

.background-form {
    background-color: var(--main-red);
    padding-bottom:   4rem;
    padding-top:      4rem;
}

.formulario {
    align-items:     center;
    display:         flex;
    flex-direction:  column;
    justify-content: center;
    margin:          0 auto;
    max-width:       100%;
}

.forms-container {
    align-items:     center;
    display:         flex;    
    gap:             4rem;
    justify-content: space-around;
}

.formulario fieldset {
    background-color: var(--main-white);
    border:           0.1rem solid var(--complementary-one);
    border-radius:    4rem 0 4rem 0;
    box-shadow:       1rem 1rem 2rem var(--main-black);    
    margin-bottom:    2rem;
}

.formulario legend {
    background-color: var(--main-green);
    border-radius:    4rem 0 4rem 0;
    box-shadow:       1rem 1rem 2rem var(--main-black);    
    color:            var(--main-white);
    font-weight:      900;
    margin-bottom:    4rem;
    padding:          1rem;
    text-align:       center;
    text-transform:   uppercase;
    width:            70%;
}

.campo {
    display:        flex;
    flex-direction: column;
    margin-bottom:  2rem;
}

.campo label {
    flex-basis: 2rem;
}

.campo input:not([type="radio"]), 
.campo textarea,
.campo select {
    flex:    1;
    border:  0.2rem solid var(--complementary-one);
    padding: 1rem;
    width:   100%;
}

label {
    padding: 0 2rem;
}


/**********************************************************/
/************************* Footer *************************/
/**********************************************************/

.main-footer {
    align-items:      center;
    background-color: var(--main-black);
    color:            var(--main-white);    
    display:          flex;
    flex-direction:   column;
    height:           40rem;
    justify-content:  center;
    margin-top:       10rem;
    padding:          2rem 0;
}

.footer-social {
    align-items:      center;
    display:          flex;
    flex-direction:   column;
    justify-content:  center;
}

.footer-social-list {
    align-items:      center;
    display:          flex;
    flex-direction:   column;
    gap:              4rem;
    justify-content:  space-around;
    margin:           4rem 0;
}

.fab {
    color:      var(--main-white);
    font-size:  var(--ll);   
    transition: all 0.2s linear;
}

.fab:hover {
    transform: scale(1.8);
}

.social-title {
    font-size: var(--small);
    text-align: center;
}

.copyright {
    font-size: var(--extra-small);
}


/*********************************************************/
/************************* About *************************/
/*********************************************************/

/* Staff */

.staff-container {
    align-items:     center;
    display:         flex;
    flex-direction:  column;
    gap:             5rem;
    height:          300rem;
    justify-content: space-between;
    margin:          0;
    padding:         0;
    width:           100%;
}

/* Team */

.team-container {
    align-items:     center;
    display:         flex;
    flex-direction:  column;
    gap:             2rem;
    height:          180rem;
    justify-content: space-around;
    margin:          0;
    padding:         0;
    width:           95%;
}

.team-container-list {
    align-items:     center;
    display:         flex;
    flex-direction:  column;
    height:          60rem;
    justify-content: space-around;
    margin:          0;
    padding:         0;
    width:           100%;
}

.team-person {
    align-items:      center;
    background-color: transparent;   
    border-radius:    4rem 0 4rem 0;
    color:            var(--main-black);
    display:          flex;
    font-size:        var(--large);
    height:           6rem;
    justify-content:  center;
    width:            90%;
}

.team-person-active {    
    background-color: var(--main-green);
    border-radius:    4rem 0 4rem 0;
    color:            var(--main-white);
    box-shadow:       1rem 1rem 2rem var(--main-black);
}

.team-person:hover,
.team-person-active:hover {
    cursor: pointer;
}

.team-container-card {
    align-items:      center;
    background-color: var(--main-red);
    border-radius:    4rem 0 4rem 0;
    box-shadow:       1rem 1rem 2rem var(--main-black);    
    display:          flex;
    flex-direction:   column;
    gap:              4rem;
    height:           100%;
    justify-content:  center;
    margin:           0;
    padding:          2rem;
    width:            95%;
}

.team-card {
    align-items:      center;
    display:          none;
    flex-direction:   column-reverse;
    height:           100%;
    justify-content:  space-around;
    top:              auto;
    width:            100%;   
}

.team-info {
    align-items:     left;
    color:           transparent;
    display:         flex;
    flex-direction:  column;
    gap:             4rem;
    height:          100%;
    justify-content: center;
    width:           100%;
}

.team-image img {
    border-radius: 50%;
    display:       none;
    height:        20rem;
    margin:        0;
    padding:       0;
}

/* Info */

.info-container {
    background-color: orange;
    height: 80rem;
    width: 95%;
}